.card > img {
  object-fit: cover;
  object-position: center center;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  width: 237px;
  height: 157px;
}

.card > h1,
p {
  color: #fff;
  margin-left: 20px;
}

@media (min-width: 1280px) {
  .card > img {
    width: 100%;
  }
}
