.getaway {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.getaway > p {
  font-size: 15px;
  color: #222;
}

.getaway > p > span {
  font-size: 14px;
  color: rgb(113, 113, 113);
}

.getaway > p > button {
  color: #222;
  background-color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 768px) {
  .getaway {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
